@model Company
@{
}

<h3 style="color : brown">Add New Company</h3>
<form asp-action="Index" id="addCompanyForm" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="ComName" class="form-label"><b>Enter Company Name</b></label>
        <input asp-for="ComName" type="text" class="form-control">
        <span asp-validation-for="ComName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Basic" class="form-label"><b>Enter Basic Salary Ratio</b></label>
        <input asp-for="Basic" type="number" class="form-control">
        <span asp-validation-for="Basic" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="HRent" class="form-label"><b>Enter House Rent Ratio</b></label>
        <input asp-for="HRent" type="number" class="form-control">
        <span asp-validation-for="HRent" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Medical" class="form-label"><b>Enter Medical Expense Ratio</b></label>
        <input asp-for="Medical" type="number" class="form-control">
        <span asp-validation-for="Medical" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label"><b>Company Status</b></label>
        <div class="form-check">
            <input asp-for="IsInactive" type="radio" value="True" class="form-check-input" id="activeOption" checked>
            <label class="form-check-label" for="activeOption">Active</label>
        </div>
        <div class="form-check">
            <input asp-for="IsInactive" type="radio" value="False" class="form-check-input" id="inactiveOption">
            <label class="form-check-label" for="inactiveOption">Inactive</label>
        </div>
        <span asp-validation-for="IsInactive" class="text-danger"></span>
    </div>

    <button type="button" onclick="submitForm()" class="btn btn-primary">Add</button>
</form>

<div class="row m-0 ps-4 upper-form-style pt-2">
    <div id="tableContainer"></div>
</div>

@section Scripts
{
    <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>

    <script>
        var table;

        $(document).ready(function () {
            fetchDataFromServer();

            function fetchDataFromServer() {
                var url = '/Company/ShowCompanies';
                return $.ajax({
                    url: url,
                    dataType: "json",
                }).done(function (response) {
                    console.log("Normal response:", response);
                    var dataTable = response;

                    initializeOrUpdateTable(dataTable);
                });
            }
        });



        function initializeOrUpdateTable(dataTable) {
            if (!table) {
                table = new Tabulator("#tableContainer", {
                    data: dataTable,
                    layout: "fitColumns",
                    frozenRows: 1,
                    columns: [
                        { title: 'comId', field: 'comId', visible: false },
                        { title: 'Company Name', field: 'comName', hozAlign: 'center' },
                        { title: 'Basic Percentage', field: 'basic', hozAlign: 'center' },
                        { title: 'HRent Percentage', field: 'hRent', hozAlign: 'center' },
                        { title: 'Medical Percentage', field: 'medical', hozAlign: 'center' },
                        { title: 'Is Inactive', field: 'isInactive', hozAlign: 'center' },

                        {
                            title: "Actions",
                            formatter: function (cell, formatterParams, onRendered) {
                                var rowData = cell.getRow().getData();
                                console.log('Row data:', rowData);
                                return '<button class="btn btn-sm btn-primary" onclick="editRow(' + rowData.comId + ')">Edit</button>' +
                                    '<button class="btn btn-sm btn-danger" onclick="deleteRow(' + rowData.comId + ')">Delete</button>';
                            },
                            headerSort: false,
                            align: 'center',
                            width: 130,
                        },
                    ],
                    dataBound: function () {
                        var rows = table.getRows();
                        if (rows.length > 0) {
                            var cells = rows[0].getCells();
                            cells.forEach(cell => {
                                cell.freeze();
                            });
                        }
                    },
                });
            } else {
                table.setData(dataTable);
            }
        }

        function submitForm() {
            $.ajax({
                url: '/Company/Index',
                type: 'POST',
                data: $('#addCompanyForm').serialize(),
                success: function (data) {
                    console.log("Data", data);
                    $('#addCompanyForm')[0].reset();

                    fetchDataFromServer();
                },
                error: function () {
                    console.error('Error submitting form.');
                }
            });
        }

        function editRow(id) {
            window.location.href = '/Company/Edit/' + id;
        }

        function deleteRow(id) {
            window.location.href = '/Company/Delete/' + id;

            console.log('Delete clicked for row with ID:', id);
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
