@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Shift

<form asp-action="Edit">
    <div class="form-group">
        <input asp-for="ShiftId" class="form-control" type="hidden" />
    </div>
    <div class="form-group">
        <label asp-for="ShiftName">Shift Name:</label>
        <input asp-for="ShiftName" class="form-control" />
        <span asp-validation-for="ShiftName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShiftIn">Shift In:</label>
        <input asp-for="ShiftIn" type="time" class="form-control" />
        <span asp-validation-for="ShiftIn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShiftOut">Shift Out:</label>
        <input asp-for="ShiftOut" type="time" class="form-control" />
        <span asp-validation-for="ShiftOut" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShiftLateTime">Shift Late:</label>
        <input asp-for="ShiftLateTime" type="time" />
        <span asp-validation-for="ShiftLateTime" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>